:root {
    --background-clr: #F0F3F6;
    --primary-clr: #FF5959;
    --secondary-clr: #085F63;
    --current-variant-clr: #FF7373; 
    --saving-clr: #49BEB7;
    --saving-variant-clr: #6FCCC6;
    --currency-clr: #5AFA6A;
    --currency-variant-clr: #8CFC97;
    --value-deposit-clr: #00cc66;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, 
body, 
.wrapper {
    height: 100%;
}

body {
    background: var(--background-clr);
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

h1,
h2,
h3 {
    font-weight: 400;
}

header {
    display: flex;
    padding: 1rem;
    position: absolute;
    width: 100%;
}

.logo {
    color: var(--primary-clr);
    height: 2rem;
    width: 2rem;
    margin-right: 1.5rem;
}

.title {
    font-size: 1.8rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accounts {
    display: flex;
    margin-top: 4rem;
    overflow-x: auto;
}

.accounts::-webkit-scrollbar {
    width: 0;
}

.accounts_element {
    min-width: 80%;
    padding: 1rem;
}

.accounts_element_title {
    font-size: 1.25rem;
    padding-bottom: .75rem;
}

.accounts_element_card {
    border-radius: 16px;
    padding: 3.25rem 1.75rem 1.5rem 1.75rem;
    font-weight: 500;
    max-width: 338px;
    min-width: 268px;
}

.accounts_element_card_row {
    display: flex;
    justify-content: space-between;
}

.accounts_element_card_row:first-child {
    margin-bottom: 1rem;
}

.accounts_element_card_number {
    position: relative;
    top: 8px;
    font-size: 1rem;
}

.accounts_element_card_mark {
    height: 30px;
    width: 30px;
}

.accounts_element_card_icon-mastercard {
    width: 3rem;
}

.accounts_element_card_amount {
    font-size: 1.5rem;
    position: relative;
    top: 3px;
}

.accounts_element_card-current {
    background: var(--current-variant-clr);
    background: linear-gradient(45deg, var(--current-variant-clr) 43%, var(--primary-clr) 43%);
}

.accounts_element_card-saving {
    background: var(--saving-variant-clr);
    background: linear-gradient(45deg, var(--saving-variant-clr) 43%, var(--saving-clr) 43%);
}

.accounts_element_card-currency {
    background: var(--currency-variant-clr);
    background: linear-gradient(45deg, var(--currency-variant-clr) 43%, var(--currency-clr) 43%);
}

.transfer {
    background: #fff;
    height: 90%;
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    transition: all .3s ease;
}

.transfer-active {
    top: 2.5%;
}

.transfer_on-focus {
    top: -10%;
}

.transfer_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}

.section_title-transfer {
    display: none;
}

.transfer-swipe {
    text-align: center;
    position: relative;
    top: -1.5rem;
    border-bottom: 2px solid #ddd;
}

.transfer-swipe svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #444;
}

.transfer-active
.transfer-swipe svg {
    transform: rotate(180deg);
}

.form_element {
    width: 100%;
}

.form_element-from {
    grid-column: 1/2;
}

.form_element-to {
    grid-column: 2/4;
}

.form_element-amount {
    grid-column: 1/4;
}

.form_element-btn {
    grid-column: 1/4;
}

.transfer_label,
.transfer_select {
    width: 100%;
}

.transfer_label {
    display: inline-block;
    margin-bottom: .5rem;
}

.transfer_select {
    font-size: inherit;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
}

.transfer_input-number,
.transfer_input-number:focus {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 3rem;
    width: 100%;
}

.btn-transfer {
    border: none;
    padding: .75rem;
    margin-top: .5rem;
    width: 100%;
    background: var(--currency-variant-clr);
    font-size: 1.25rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}
  
.btn-transfer:hover,
.btn-transfer:focus {
    outline: none;
    background: var(--currency-clr);
}

.transfer_icon {
    position: relative;
    top: 3px;
}

.history {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    bottom: -60%;
    background: #fff;
    width: 100%;
    height: 85%;
    transition: all .5s ease;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.history_movements {
    overflow-y: scroll;
    height: 80%;
    padding-right: 1rem;
}

.history-active {
    bottom: 0;
}

.history-active 
.section_title-history {
    margin-bottom: 0;
}

.section_title {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.history_icon svg {
    width: 2.5rem;
    height: 2.5rem;
    margin: .75rem 1rem 0 1rem;
    fill: #444;
}

.history_icon-dots svg {
    display: none;
}

.history-active
.history_icon-chevron svg {
    display: none;
}

.history-active
.history_icon-dots svg {
    display: inline-block;
}

/* SUBNAV */ 

.subnav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    color: #555;
}

.subnav_item {
    padding-bottom: .5rem;
    cursor: pointer;
}

.subnav_item-active {
    color: #000;
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.movement:first-child {
    padding: 0 0 .25rem 0;
}

.movement {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 1.5rem 0 .25rem 0;
}

.movement_value {
    font-weight: 500;
    font-size: 1.25rem;
}

.movement_type-deposit {
    color: var(--value-deposit-clr);
}

.movement_value-currency {
    font-size: .8rem;
}

.history_summary {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 1rem 0 ;
    font-size: 1.25rem;
    width: 100%;
}

.summary_row {
    display: flex;
}

.summary_label {
    font-size: 1rem;
}

.summary_label,
.summary_value {
    margin-right: .75rem;
}

.summary_value-in {
    color: var(--value-deposit-clr);
}

.btn-sort {
    border: none;
    background: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}
  
.btn-sort:hover,
.btn-sort:focus {
    outline: none;
    color: var(--value-deposit-clr);
}

footer {
    display: none;
}

@media only screen and (min-width: 576px) {
    .accounts_element_card_amount {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .accounts_element {
        min-width: 40%;
    }
}

@media only screen and (min-width: 1025px) {
    body {
        overflow-y: visible;
    }
    header {
        padding: 2rem;
    }
    .logo {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 2rem;
    }
    .title {
        font-size: 2rem;
    }
    .wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding: 10% 0 5% 0;
    }
    .accounts {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
    }
    .accounts, 
    .transfer, 
    .history {
        width: 30%;
        height: auto;
    }
    .transfer {
        padding: 2rem;
    }
    .transfer {
        height: auto;
        position: inherit;
        padding: 2rem;
    }
    .transfer-swipe {
        display: none;
    }
    .transfer_form {
        display: block;
    }
    .section_title-transfer {
        display: block;
    }
    .transfer_select {
        margin-bottom: 1.5rem;
    }
    .btn-transfer {
        margin-top: 3.25rem;
    }
    .history {
        position: inherit;
        box-shadow: none;
        padding: 2rem;
    }
    .history-active 
    .section_title {
        margin-bottom: 3rem;
    }
    .section_title {
        font-size: 1.5rem;
    }
    .history_icon {
        display: none;
    }
    .history_summary {
        position: inherit;
        padding: 2rem 0 0 0;
    }
    footer {
        display: block;
        position: absolute;
        bottom: 0;
        background: var(--background-clr);
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
}


@media only screen and (min-width: 1200px) {
    .accounts_element_card_number {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1600px) {
    .wrapper {
        width: 70%;
        padding: 7% 0 5% 0;
    }
}


